<a id='Data-Preparation'></a>
## Data Cleaning - Remittance Outflows

In [1]:
import numpy as np 
import pandas as pd 
import warnings

In [2]:
# Filepath
file_path = '/content/outward_remittance_flows.xlsx'
outflow = pd.read_excel(file_path,index_col=0)
outflow

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2015,2016,2017,2018,2019,2020,2021,% of GDP in 2021,Unnamed: 34,2021 Nominal GDP
Outward remittance flows (US$ million),,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,228.991809,167.894464,143.979106,234.618701,217.292318,225.420606,NaN,,0.00000,16108.8
Albania,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,153.312400,147.156757,106.330983,114.879337,119.679641,124.630376,140.34431,0.76649,0.76649,18310.0
Algeria,31.481969,22.032304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,72.128991,76.633496,214.378057,87.006383,81.545365,149.237304,81.225032,0.04992,0.04992,162711.0
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,91.500000,83.804275,NaN,NaN,0.00000,3330.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Estimates for remittance outflows during 2022 are not presented in this dataset as most central banks do not report high-frequency outward remittance data. For example, among countries that report to the IMF’s Balance of Payments system, about 40 percent",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
have not provided quarterly remittance data (sum of compensation of employees in primary income and personal transfers in secondary income) for the year 2022.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date: November 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"When using the data, please cite: KNOMAD/World Bank, 2022.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Rename some outflow columns
outflow = outflow.rename(columns={'% of GDP in 2021': '%GDP_2021'})
# Selecting country names only
outflow = outflow.iloc[:214, :-2]
outflow

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,%GDP_2021
Outward remittance flows (US$ million),,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,444.730790,524.163479,228.991809,167.894464,143.979106,234.618701,217.292318,225.420606,NaN,
Albania,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000000,0.000000,...,190.551294,178.722842,153.312400,147.156757,106.330983,114.879337,119.679641,124.630376,140.34431,0.76649
Algeria,31.481969,22.032304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.715810,295.922112,72.128991,76.633496,214.378057,87.006383,81.545365,149.237304,81.225032,0.04992
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,91.500000,83.804275,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,19.0,17.9,21.945,5.444895,5.687228,...,52.642111,36.128914,30.398350,30.393004,27.462198,22.347335,29.079904,21.881177,9.330391,0.051729
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,333.295533,335.395533,333.389518,332.700000,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,14.900000,18.700000,NaN,NaN,NaN,NaN,NaN,59.000,39.200000,21.800000,...,77.324471,81.199881,72.104699,63.405836,121.370621,132.001364,103.806724,88.510886,106.780374,0.501011
Zimbabwe,9.116352,7.196323,9.136898,6.691332,6.239536,0.0,0.0,0.000,0.000000,0.000000,...,10.354266,10.840916,11.350439,13.844871,18.575000,29.278892,13.480566,21.707094,NaN,NaN

In [4]:
# Display the dataset information
outflow.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214 entries, Afghanistan to Zimbabwe
Data columns (total 33 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1990       147 non-null    float64
 1   1991       141 non-null    float64
 2   1992       138 non-null    float64
 3   1993       145 non-null    float64
 4   1994       147 non-null    float64
 5   1995       146 non-null    float64
 6   1996       146 non-null    float64
 7   1997       150 non-null    float64
 8   1998       148 non-null    float64
 9   1999       150 non-null    float64
 10  2000       153 non-null    float64
 11  2001       154 non-null    float64
 12  2002       162 non-null    float64
 13  2003       163 non-null    float64
 14  2004       165 non-null    float64
 15  2005       174 non-null    float64
 16  2006       177 non-null    float64
 17  2007       180 non-null    float64
 18  2008       181 non-null    float64
 19  2009       183 non-null    float64
 20  2010       184 non-null    float64
 21  2011       187 non-null    float64
 22  2012       188 non-null    float64
 23  2013       188 non-null    float64
 24  2014       188 non-null    float64
 25  2015       186 non-null    float64
 26  2016       186 non-null    float64
 27  2017       182 non-null    float64
 28  2018       182 non-null    float64
 29  2019       179 non-null    float64
 30  2020       177 non-null    float64
 31  2021       160 non-null    object
 32  %GDP_2021  155 non-null    object
dtypes: float64(31), object(2)
memory usage: 56.8+ KB

In [5]:
# replace empty rows with NaN values
outflow.replace('', np.nan, inplace=True)

In [6]:
# Check for missing values
outflow.isnull().sum()

1990         67
1991         73
1992         76
1993         69
1994         67
1995         68
1996         68
1997         64
1998         66
1999         64
2000         61
2001         60
2002         52
2003         51
2004         49
2005         40
2006         37
2007         34
2008         33
2009         31
2010         30
2011         27
2012         26
2013         26
2014         26
2015         28
2016         28
2017         32
2018         32
2019         35
2020         37
2021         54
%GDP_2021    59
dtype: int64

In [7]:
# Remove all rows that have missing values
outflow.dropna(inplace=True)
outflow.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,%GDP_2021
Outward remittance flows (US$ million),,,,,,,,,,,,,,,,,,,,,
Angola,150.000000,124.500000,121.63700,132.900000,148.900000,209.5460,173.802000,179.950000,201.650000,263.070000,...,2395.965856,2746.615873,1252.909012,1176.110314,961.415276,681.627015,549.082043,576.471437,445.400144,0.592453
Argentina,0.000000,0.000000,142.80000,163.100000,176.600000,195.2000,207.300000,231.700000,246.500000,250.300000,...,887.803487,732.414557,685.001366,769.242058,1060.484530,1010.375536,694.899063,545.151525,588.559744,0.120928
Australia,601.367467,522.617129,457.80605,441.562934,487.695522,570.2000,728.177754,771.092538,796.700673,870.854803,...,7253.781716,6953.239775,6037.610107,6179.374298,6793.253707,7267.729294,7439.097689,4358.562385,3804.212817,0.232637
"Bahamas, The",38.700000,49.500000,28.80000,27.300000,28.000000,31.7000,33.200000,36.800000,39.300000,47.100000,...,138.725000,150.819241,178.800141,193.848518,262.328167,210.701450,206.900000,235.468494,246.134328,2.195863
Belize,7.150000,5.700000,6.00000,6.000000,6.568500,6.8815,6.875000,7.550000,6.900000,5.972125,...,31.523218,33.269798,41.161361,45.202221,45.607620,42.979101,41.881052,42.407419,41.693205,1.718599

In [8]:
outflow.shape

(99, 33)

In [9]:
outflow.dtypes

1990         float64
1991         float64
1992         float64
1993         float64
1994         float64
1995         float64
1996         float64
1997         float64
1998         float64
1999         float64
2000         float64
2001         float64
2002         float64
2003         float64
2004         float64
2005         float64
2006         float64
2007         float64
2008         float64
2009         float64
2010         float64
2011         float64
2012         float64
2013         float64
2014         float64
2015         float64
2016         float64
2017         float64
2018         float64
2019         float64
2020         float64
2021          object
%GDP_2021     object
dtype: object

In [10]:
# # Convert string object to float64
outflow = outflow.apply(pd.to_numeric, errors='coerce')
outflow.head(10)

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,%GDP_2021
Outward remittance flows (US$ million),,,,,,,,,,,,,,,,,,,,,
Angola,150.000000,124.500000,121.637000,132.900000,148.900000,209.546000,173.802000,179.950000,201.650000,263.070000,...,2395.965856,2746.615873,1252.909012,1176.110314,961.415276,681.627015,549.082043,576.471437,445.400144,0.592453
Argentina,0.000000,0.000000,142.800000,163.100000,176.600000,195.200000,207.300000,231.700000,246.500000,250.300000,...,887.803487,732.414557,685.001366,769.242058,1060.484530,1010.375536,694.899063,545.151525,588.559744,0.120928
Australia,601.367467,522.617129,457.806050,441.562934,487.695522,570.200000,728.177754,771.092538,796.700673,870.854803,...,7253.781716,6953.239775,6037.610107,6179.374298,6793.253707,7267.729294,7439.097689,4358.562385,3804.212817,0.232637
"Bahamas, The",38.700000,49.500000,28.800000,27.300000,28.000000,31.700000,33.200000,36.800000,39.300000,47.100000,...,138.725000,150.819241,178.800141,193.848518,262.328167,210.701450,206.900000,235.468494,246.134328,2.195863
Belize,7.150000,5.700000,6.000000,6.000000,6.568500,6.881500,6.875000,7.550000,6.900000,5.972125,...,31.523218,33.269798,41.161361,45.202221,45.607620,42.979101,41.881052,42.407419,41.693205,1.718599
Benin,20.687582,20.727603,21.149125,21.458697,23.251785,26.484507,33.615323,17.064455,29.877018,5.936894,...,101.062519,144.363224,98.216933,88.136694,72.946194,94.458843,87.497447,92.063089,100.184329,0.566045
Bolivia,7.700000,8.600000,8.900000,9.500000,9.800000,9.200000,13.000000,12.000000,15.100000,32.100000,...,172.158814,180.100000,210.175744,222.250464,232.927804,251.815643,275.421574,215.679932,293.731382,0.721646
Botswana,117.981205,117.928923,139.212457,131.444549,145.307826,198.938992,86.366731,119.016206,117.727669,122.264636,...,97.489264,105.396857,94.742112,80.447981,81.246535,63.438911,99.403761,163.602998,236.646584,1.343514
Brazil,11.000000,21.000000,34.000000,198.000000,250.000000,336.000000,396.000000,360.317000,361.644000,306.805000,...,1150.189008,1538.775897,1339.086890,1385.076006,2238.140844,2253.247430,2231.583198,1607.787352,1755.081763,0.109141
Brunei Darussalam,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.149954,10.418163,0.074384

In [11]:
outflow.dtypes

1990         float64
1991         float64
1992         float64
1993         float64
1994         float64
1995         float64
1996         float64
1997         float64
1998         float64
1999         float64
2000         float64
2001         float64
2002         float64
2003         float64
2004         float64
2005         float64
2006         float64
2007         float64
2008         float64
2009         float64
2010         float64
2011         float64
2012         float64
2013         float64
2014         float64
2015         float64
2016         float64
2017         float64
2018         float64
2019         float64
2020         float64
2021         float64
%GDP_2021    float64
dtype: object

In [12]:
# Save cleaned remittance outflow data to CSV file
outflow.to_csv('remittance_outflows_clean.csv', index=True)